body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-text {
  color: #2e2f42;
}

.nav-menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 0;
  cursor: pointer;
}

.header-menu {
  display: none;
  list-style-type: none;
  gap: 40px;
}

.header-menu-link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.line-header {
  color: #404bbf;
}

.line-header::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.address-list {
  display: none;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.address-link {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero {
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile-bg.jpg");
}

.hero-title {
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
  max-width: 180px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.hero-btn {
  display: block;
  min-width: 169px;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.feature-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 72px;
}

.feature-list-item {
  width: 100%;
}

.feature-icon {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-list-title {
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.feature-list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  margin: 0 auto;
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  list-style-type: none;
}

.team-list-item {
  width: 264px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(64, 68, 137, 0.08);
}

.teammate {
  padding: 32px 0;
}

.team-list-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.teammate-social-icon {
  fill: #f4f4fd;
}
.teammate-social {
  width: 40px;
  height: 40px;
}
.teammate-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teammate-social-link:hover,
.teammate-social-link:focus {
  background-color: #404bbf;
}

.portfolio {
  margin: 0 auto;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .potfolio-photo-hvr-txt,
.portfolio-list-item:focus .potfolio-photo-hvr-txt {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  flex-wrap: wrap;
  list-style-type: none;
}

.portfolio-photo-container {
  position: relative;
  overflow: hidden;
}

.potfolio-photo-hvr-txt {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  height: 100%;
  width: 100%;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-link {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-title {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
}

.footer-social-icon {
  display: block;
  fill: #f4f4fd;
}

.footer-social-list-item {
  display: flex;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.subscription-container {
  width: 100%;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subscription-label {
  width: 100%;
}

.subscription-input {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0 16px 0 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16;
  outline: none;
}

.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.subscription-button:hover,
.subscription-button:focus {
  background-color: #404bbf;
}

.subscription-button-icon {
  fill: #fff;
  margin-left: 16px;
}

.feedback-modal {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
  padding-top: 72px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: #fcfcfc;

  width: 288px;
  padding-left: 16px;
  padding-right: 16px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.xclose-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:focus .xclose-icon,
.close-btn:hover .xclose-icon {
  fill: #ffffff;
}

.modal-title {
  text-align: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  display: flex;
  align-items: center;
}

.modal-field {
  margin-bottom: 8px;
}

.input-form {
  position: relative;
  margin-bottom: 8px;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus-within {
  border-color: #4d5ae5;
}

.input-modal:focus-within + .modal-icon {
  fill: #4d5ae5;
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-form-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus-within {
  border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.new-box {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field {
  margin-bottom: 24px;
}

.check:checked + label > span:first-child {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.user-privacy {
  color: #4d5ae5;
}

.burger-menu {
  visibility: hidden;
  opacity: 0%;
  pointer-events: none;
  overflow-y: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-menu-nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 40px;
}

.burger-menu-nav-link {
  display: block;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-active-link {
  color: #404bbf;
}

.burger-menu-nav-link:hover,
.burger-menu-nav-link:focus {
  color: #404bbf;
}

.burger-menu-contacts-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  list-style-type: none;
}

.burger-menu-contacts-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-color {
  color: #4d5ae5;
}
.burger-menu-contacts-link:hover,
.burger-menu-contacts-link:focus {
  color: #4d5ae5;
}

.burger-menu-social {
  display: flex;
  gap: 40px;
}

.burger-menu-bottom {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  visibility: visible;
  opacity: 100%;
  pointer-events: all;
}

/* media for mobile */

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/* tablet */

@media (min-width: 768px) {
  body {
    overflow-x: auto;
  }

  .container {
    max-width: 768px;
  }

  .nav-menu-btn {
    display: none;
  }

  .header-menu {
    display: flex;
  }

  .address-list {
    display: flex;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-bg.jpg");
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-list-title {
    text-align: left;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-container {
    justify-content: center;
    align-items: baseline;
  }

  .footer-general-info {
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
  }

  .footer-link {
    justify-content: flex-start;
  }

  .footer-social-title {
    text-align: left;
  }

  .subscription-form {
    flex-direction: row;
  }

  .subscription-container {
    width: max-content;
  }

  .subscription-label {
    width: 264px;
  }

  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .form-label {
    display: block;
  }

  .burger-menu {
    display: none;
  }
}

/* desktop */

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop-bg.jpg");
    max-width: 1440px;
  }

  .feature-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .feature-icon {
    display: flex;
  }

  .feature-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .feature-list-text {
    font-weight: 400;
  }

  .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer-general-info {
    flex-direction: row;
    align-items: baseline;
    gap: 120px;
  }

  .subscription-input {
    border-color: #fff;
  }
}

/* pictures */

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile-bg@2x.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-bg@2x.jpg");
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop-bg@2x.jpg");
  }
}
